{
  "nodes": ["https://api.steemit.com"],
  "posting_key": "posting_wif",
  "bot_account": "turbot",
  "minimum_vote_value": 0.1,
  "timeframe": "12-24",
  "start_block": "",
  "comment_template":  "/users/emre/Projects/sherlock/comment_template.md",
  "main_post_template": "/users/emre/Projects/sherlock/post_template.md",
  "reply_template": "/users/emre/Projects/sherlock/reply_template.md",
  "main_post_title": "Last Minute Upvoter Accounts ({date})",
  "main_post_tags": ["bots"],
  "threads": 4,
  "flag_options": {
    "from_account": "flagger_account",
    "from_account_posting_key": "flagger_account_posting_key",
    "weight": -1
  },
  "suspicious_users": ["trafalgar", "traf"],
  "suspicious_users_timeframe": "12-72",
    "flag_report_options": {
    "title": "Daily Flag Report ({date})",
    "tags": ["abuse", "flags", "abusereports"],
    "post_template": "/users/emre/Projects/sherlock/flag_report_template.md"
  }
}